In [1]:
 1+1

2

CTRL + ENTER execute the cell

ALT + ENTER execute the cell and add a blank one

M change a cell to Markdown

* A add a cell over the cell
* B add a cell above the cell

D + D delete a cell in non editable mode

# Basic Mathematical Operations

In [7]:
2+2

4

In [5]:
2*2

4

In [8]:
4/2

2.0

In [10]:
2-2

0

In [12]:
2**3

8

In [14]:
2%2

0

In [16]:
3%2

1

In [17]:
var1 = 2

In [19]:
var1

2

In [20]:
5 < 2

False

In [22]:
2 <= 1

False

In [24]:
2>=1

True

# Strings

In [26]:
"Double quotes"

'Double quotes'

In [27]:
'Single quotes'

'Single quotes'

In [28]:
"'Single quotes inside double quotes'"

"'Single quotes inside double quotes'"

In [30]:
str1 = 'Value'
str1

'Value'

In [31]:
print(str1)

Value

In [37]:
print("st {} tutorial".format(x))

st R tutorial

In [38]:
print("st {} tutorial {}".format(x,var1))

st R tutorial 2

In [40]:
len(str1)

5

In [41]:
str1 = "Cheiro de pneu queimado"

In [43]:
x = str1.replace("Cheiro", "Gosto")

In [44]:
print(x)

Gosto de pneu queimado

In [46]:
x[1]

'o'

Strings are characters arrays

In [47]:
x[0:4]

'Gost'

#  List

In [1]:
l1 = [1,2,3,4,5,6]

In [2]:
l1

[1, 2, 3, 4, 5, 6]

In [3]:
l2 = [1, "Two", 3.0]

In [5]:
l2

[1, 'Two', 3.0]

In [6]:
l1[0]

1

In [7]:
l2[2]

3.0

In [9]:
l1[::]

[1, 2, 3, 4, 5, 6]

In [11]:
l1[::2]

[1, 3, 5]

In [12]:
l3 = [l1,l2]

In [13]:
l3

[[1, 2, 3, 4, 5, 6], [1, 'Two', 3.0]]

In [15]:
list([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

In [16]:
l2.sort(reverse = True)

TypeError: '<' not supported between instances of 'str' and 'float'

In [19]:
l1.sort(reverse = True)

In [20]:
l1

[6, 5, 4, 3, 2, 1]

In [21]:
l1[0:3] = [12,11,10]
l1

[12, 11, 10, 3, 2, 1]

In [22]:
l1.insert(0, 30)
l1

[30, 12, 11, 10, 3, 2, 1]

In [24]:
l1.remove(1)
l1

ValueError: list.remove(x): x not in list

In [25]:
del l1[0]
l1

[12, 11, 10, 3, 2]

# Tuple

In [26]:
t1 = (1,2,3,4)

In [27]:
t1

(1, 2, 3, 4)

In [28]:
t1[0] = 1

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [29]:
d1 = {"key1": 1, "key2":2}

In [30]:
d1

{'key1': 1, 'key2': 2}

In [31]:
d1["key1"]

1

In [32]:
d1["key1"] = 12

In [33]:
d1

{'key1': 12, 'key2': 2}